[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
python-dotenv = "*"
pep8 = "*"
pillow = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pytest = "*"
pytest-django = "*"
django-location-field = "*"

[dev-packages]

[requires]
python_version = "3.11"
